.note-page {
    background-color:rgba(0, 0, 0, 0.3);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.note-preview {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

input {
    width: 100%;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    background-color: whitesmoke;
    margin-left: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    textarea {
      margin: 0px;
    }
}